* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header-cell {
    display: none;
}

.main_area{
    height: 605px;
}

.header {
    padding: 0px 16px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 16px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.13);
}

.navbar {
    align-items: center;
    justify-content: center;
}

.container-f{
    display: flex;
}

.container-header {
    align-items: center;
    justify-content: center;
}

nav div ul li {
    padding: 6px 8px;
    list-style: none;
    
}

#cabecalho .nav .nav-link {
    color: black;
}

.header img, 
#header-img {
    width: 100%;
    max-width: 50px;
}

.header button {
    border-radius: 8px;
    transition: 0.3s;
    padding: 0 8px;
}

.header button img {
    align-items: center;
    justify-content: space-between;
}

.header button:hover {
    border-radius: 8px;
    background-color: rgb(253, 208, 84);
}

nav div ul li:hover {
    cursor: pointer;
}

nav div ul li span, nav div button span {
    cursor: pointer;
    border-radius: 3px;
    display: block;
    height: 2px;
    width: 100%;
    padding: 2px;
    background-color: transparent;
}

nav div ul li:hover span{
    cursor: pointer;
    background-color: #f6b323;
}

.botao {
    position: sticky;
    top: 3%;
    padding: 18px;
    background: linear-gradient( 300deg,#f09819,
    #ff512f);
    color: antiquewhite;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.13);
    border: 0 solid rgba(255, 255, 255, 0.1);
}

form .input-group-lg button a {
    position: relative;
    text-decoration: none;
    color: #fff;
    max-width: 80px;
    width: 100%;
}


.botao:hover {
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.233);
    background: linear-gradient( 150deg,#f6b323,
    rgb(250, 99, 53));
    cursor: pointer;
}

section {
    width: 100vh;
}

.radius {
    background-color: rgba(255, 255, 255, 0.6);
    border: rgba(24, 22, 22, 0.6);
    border-radius: 50%;
    position: fixed;
    bottom: 8%;
    right: 2%;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.178);
    display:none ;
    align-items: center;
    justify-content: center;
    z-index: 2;
    border: 2px solid rgba(243, 238, 238, 0.603);
}

.radius:hover {
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.973);
}

.bg-body{
    background:#FFC107;
}

.bg-white {
    background-color: #fff;
}

.menu-hamburguer {
    width: 40px;
    margin: 8px auto;
    background-color: rgb(44, 42, 42);
    border-radius: 5px;
    border: solid 2px black;
    padding: 4px;
    align-items: center;
    justify-content: center;
}

.menu-hamburguer:hover {
    border-radius: 5px;
    cursor: pointer;
}

.menu-hamburguer span {
    border-radius: 50%;
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.0s ease-out, transform 1.0s ease-out;
}

.section.active {
    opacity: 1;
    transform: translateY(0);
}

/* CARDS  */

.card_body{
    min-height: 500px;
    border: 0.5px solid #D4D4D4;
    padding: 6px;
    border-radius: 6px;
}

.card_img{
    width: 100%;
    height: 50%;
    overflow: hidden;
    border-radius: 4px;
}

.card_img img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.card_text_container{
    padding-bottom: 15px;
    padding-top: 15px;
    min-height: 190px;
}

.card_text_container_voluntario{
    padding-bottom: 15px;
    padding-top: 15px;
}

.card_title{
    /* font-size: 2.0em; */
    font-weight: 550;
}

.card_sub_text{
    font-weight: 400;
    font-size: 0.9em;
}

.card_sub_text ul{
    padding-left: 20px;
}

.arrumar_btn{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.card_btn{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    background-color: white;
    border: 1.2px solid #f6b323;
    color: #f6b323;
    transition: 0.2s;
    font-size: 1.0009em;
    font-weight: 500;
}

.card_btn:hover{
    background-color: #f6b323;
    border: 1.2px solid #f6b323;
    color: #343A40;
}


/* Botão prinpal do meio do site */

/* From Uiverse.io by vinodjangid07 ---- Com modificações */ 
.input-wrapper {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.icon {
    width: 30px;
    fill: #343A40;
    margin-left: 8px;
    transition: all 0.3s;
}
.input {
    flex-grow: 1; /* Faz com que o input ocupe todo o espaço disponível */
    height: 100%;
    border: none;
    outline: none;
    padding-left: 15px;
    background-color: #ffffff;
    color: black;
    font-size: 1em;
}
.input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #343A40 inset;
    -webkit-text-fill-color: #343A40;
}
.Subscribe-btn {
    height: 100%;
    width: 160px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    /* background-color: #343A40; */
    background: linear-gradient( 300deg,#f09819,
    #ff512f);
    font-weight: 500;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; /* Empurra o botão para o canto direito */
    position: relative;
    transition: all 0.3s;
}
.arrow {
    position: absolute;
    margin-right: 210px;
    transition: all 0.3s;
    fill: #ffffff;
}
.input-wrapper:active .icon {
    transform: scale(1.3);
}
.Subscribe-btn:hover {
    color: #343a4000;
}
.Subscribe-btn:hover .arrow {
    margin-right: 0;
    animation: jello-vertical 0.9s both;
    transform-origin: right;
}

@keyframes jello-vertical {
0% {
    transform: scale3d(1, 1, 1);
}
30% {
    transform: scale3d(0.75, 1.25, 1);
}
40% {
    transform: scale3d(1.25, 0.75, 1);
}
50% {
    transform: scale3d(0.85, 1.15, 1);
}
65% {
    transform: scale3d(1.05, 0.95, 1);
}
75% {
    transform: scale3d(0.95, 1.05, 1);
}
100% {
    transform: scale3d(1, 1, 1);
}
}
.Subscribe-btn:active {
transform: scale(0.9);
}